*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial;
}

label{
    display: block;
}

a{
    display: block;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 18px;
    margin-top: 28px;
    width: fit-content;
    margin-left: 18px;
    border-radius: 18px;
}